<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite thread-count="1" verbose="1" name="Mercury" annotations="JDK" parallel="tests">

    <test name="Sign-On">
        <classes>
            <class name="mercuryTours.signOnTest"/>
        </classes>
    </test>

    <test name="Register">
        <classes>
            <class name="mercuryTours.registerTest"/>
        </classes>
    </test>
</suite>